.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%; }

.table--data .header {
  border-bottom: solid 3px #ddd;
  text-align: center; }

.table--data .header--category {
  min-width: 216px;
  text-align: left; }

.table--data .header--sortable {
  cursor: pointer; }

.table--data .header--dividing {
  border-left: 1px solid #ddd; }

.table--data .header--area {
  background-color: #fef0d9;
  border-bottom-color: #fc8d59; }
  .table--data .header--area.header--active {
    background-color: #fdcc8a; }
  .table--data .header--area.header--sorted {
    border-bottom-color: #d7301f; }

.table--data .header--finance {
  background-color: #edf8e9;
  border-bottom-color: #74c476; }
  .table--data .header--finance.header--active {
    background-color: #bae4b3; }
  .table--data .header--finance.header--sorted {
    border-bottom-color: #238b45; }

.table--data .cell--dividing {
  border-left: 1px solid #ddd; }

.table--data .cell--number {
  text-align: center; }
  .table--data .cell--number .number {
    display: inline-block;
    text-align: right;
    width: 50px; }

#chartdiv {
  height: 500px;
  width: 100%; }

#tablediv {
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll; }

#legenddiv {
  margin-top: -2px; }

.table--legend {
  margin: 0;
  width: 100%; }
  .table--legend .cell {
    background-color: #bfcfff;
    font-weight: bold;
    padding: 4px;
    vertical-align: middle; }
  .table--legend .cell--area .legend-entry {
    border: 1px solid #fc8d59; }
  .table--legend .cell--finance .legend-entry {
    border: 1px solid #74c476;
    cursor: pointer; }
    .table--legend .cell--finance .legend-entry:hover {
      background-color: #74c476; }
  .table--legend .legend-entry {
    margin: 2px;
    padding: 3px; }
  .table--legend .legend-marker {
    display: inline-block;
    height: 16px;
    margin: 5px;
    vertical-align: middle;
    width: 16px; }
  .table--legend .legend-icon {
    vertical-align: middle; }
  .table--legend .legend-text {
    display: inline-block;
    height: 26px;
    margin-left: 5px; }
