<table><tbody>
<tr>
  {{#with areaFieldDef}}
    {{#each binPartitions}}
      <td>{{label}}</td>
    {{/each}}
  {{/with}}
</tr>
</tbody></table>
<table><tbody>
<tr>
  {{#with financeFieldDef}}
    {{#each binPartitions}}
      <td>{{label}}</td>
    {{/each}}
  {{/with}}
</tr>
</tbody></table>
