$color-gray: #ddd;

$color-blue-lighter: #bfcfff;

$color-green-lightest: #edf8e9;
$color-green-lighter: #bae4b3;
$color-green-darker: #74c476;
$color-green-darkest: #238b45;

$color-red-lightest: #fef0d9;
$color-red-lighter: #fdcc8a;
$color-red-darker: #fc8d59;
$color-red-darkest: #d7301f;

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.table--data {
  .header {
    border-bottom: solid 3px $color-gray;
    text-align: center;
  }

  .header--category {
    min-width: 216px;
    text-align: left;
  }

  .header--sortable {
    cursor: pointer;
  }

  .header--dividing {
    border-left: 1px solid $color-gray;
  }

  .header--area {
    background-color: $color-red-lightest;
    border-bottom-color: $color-red-darker;

    &.header--active {
      background-color: $color-red-lighter;
    }

    &.header--sorted {
      border-bottom-color: $color-red-darkest;
    }
  }

  .header--finance {
    background-color: $color-green-lightest;
    border-bottom-color: $color-green-darker;

    &.header--active {
      background-color: $color-green-lighter;
    }

    &.header--sorted {
      border-bottom-color: $color-green-darkest;
    }
  }

  .cell--dividing {
    border-left: 1px solid $color-gray;
  }

  .cell--number {
    text-align: center;

    .number {
      display: inline-block;
      text-align: right;
      width: 50px;
    }
  }

}

#chartdiv {
  height: 500px;
  width: 100%;
}

#tablediv {
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#legenddiv {
  margin-top: -2px;
}

.table--legend {
  margin: 0;
  width: 100%;

  .cell {
    background-color: $color-blue-lighter;
    font-weight: bold;
    padding: 4px;
    vertical-align: middle;
  }

  .cell--area {
    .legend-entry {
      border: 1px solid $color-red-darker;
    }
  }

  .cell--finance {
    .legend-entry {
      border: 1px solid $color-green-darker;
      cursor: pointer;

      &:hover {
        background-color: $color-green-darker;
      }
    }
  }

  .legend-entry {
    margin: 2px;
    padding: 3px;
  }

  .legend-marker {
    display: inline-block;
    height: 16px;
    margin: 5px;
    vertical-align: middle;
    width: 16px;
  }

  .legend-icon {
    vertical-align: middle;
  }

  .legend-text {
    display: inline-block;
    height: 26px;
    margin-left: 5px;
  }
}
