.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.table--data {
  .header {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    text-align: center;
  }

  .header--category {
    min-width: 216px;
    text-align: left;
  }

  .header--sortable {
    cursor: pointer;
  }

  .header--dividing {
    border-left: 1px solid #ccc;
  }

  .header--area {
    background-color: #fef0d9;
    border-bottom-color: #fc8d59;

    &.header--active {
      background-color: #fdcc8a;
    }

    &.header--sorted {
      border-bottom-color: #d7301f;
    }
  }

  .header--finance {
    background-color: #edf8e9;
    border-bottom-color: #74c476;

    &.header--active {
      background-color: #bae4b3;
    }

    &.header--sorted {
      border-bottom-color: #238b45;
    }
  }

  .cell--dividing {
    border-left: 1px solid #ccc;
  }

  .cell--number {
    text-align: center;

    .number {
      display: inline-block;
      text-align: right;
      width: 50px;
    }
  }

}

#chartdiv {
  width: 100%;
  height: 500px;
}

#tablediv {
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.marker {
  display: inline-block;
  height: 16px;
  width: 16px;
}

.table--legend {
  margin: 0;
  width: 50%;

  td {
    background-color: #bfcfff;
    font-weight: bold;
    vertical-align: middle;
  }
}
